.app-container {
  height: 80%;
  width: 100%;
}

.mat-drawer-content {
  height: 100%;
}

.router-outlet-parent {
  display: grid;
  height: 90%;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  background-color: beige;
}

.router-outlet-container {
  height: 90%;
  grid-column: 1/2;
  grid-row: span1;
  border-color: red;
  border: 1pt;
}

.form-footer-container {
  height: 100%;
  grid-column: 1/2;
  grid-row: span2;
  background-color: bisque;
}