<app-header></app-header>
<mat-drawer-container class="app-container">

  <mat-drawer mode="side" opened>
    <app-left></app-left>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content">
    <div class="router-outlet-parent">
      <router-outlet class="router-outlet-container"></router-outlet>
      <form-footer class="form-footer-container"></form-footer>
    </div>
  </mat-drawer-content>
  <mat-drawer mode="side" position="end" opened>
    <app-right></app-right>
  </mat-drawer>
</mat-drawer-container>
<app-footer></app-footer>